@media (min-width: 768px) {
  .section-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .section-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .section-card__content {
    align-items: start;
  }
  .section-card__content p {
    text-align: left;
  }
}

.section-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-main__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-main__content h1 {
  text-align: center;
  max-width: 20ch;
  margin: auto;
}
.section-main__info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.section-main__info-text p {
  text-align: center;
  max-width: 63ch;
  margin: auto;
}
.section-main picture {
  width: 100%;
  min-height: 280px;
  max-height: 510px;
}
.section-main picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (min-width: 1024px) {
  .section-main {
    gap: 52px;
  }
}
@media (min-width: 1280px) {
  .section-main {
    gap: 57px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 20px;
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
  }
}

h1 {
  font-weight: 900;
  font-size: 39px;
  line-height: 46px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 49px;
    line-height: 59px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 61px;
    line-height: 73px;
  }
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

h1,
h2 {
  color: var(--heading-color);
}

picture {
  display: flex;
}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

label {
  font-size: 16px;
}

footer {
  font-size: 12px;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: var(--card-bg);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding: 5px 5px;
  white-space: nowrap;
  text-align: center;
}
button:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 0 var(--text-color);
}

input,
textarea {
  padding: 5px 5px;
  border-radius: 10px;
  border: 1px solid var(--card-bg);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.contact-form-btn {
  margin-top: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.contact-form-status {
  text-align: center;
  margin-top: 10px;
}

.form-description {
  text-align: center;
  margin-top: 40px;
}

.content-form-symbols {
  font-size: 12px;
}

.card {
  background-color: var(--card-bg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.card:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 0 var(--text-color);
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.card__content a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--text-color);
  padding: 24px;
  height: 100%;
}
@media (max-width: 767px) {
  .card + .card {
    margin-top: 16px;
  }
}
@media (min-width: 768px) {
  .card__content {
    align-items: center;
  }
}

.page-index main > .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 60px;
}

.page-about main > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 100px;
}

:root {
  --primary-color: #8cc4d8;
  --text-color: #2c3e50;
  --heading-color: #605959;
  --card-bg: #b0c6ce;
  --background-color: #8cc4d8;
}/*# sourceMappingURL=styles.css.map */